
*{
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

footer{
	background: #5c9398;	
}

footer section{
 height: fit-content;
}

#footer-contact{
	padding-top: 30px;
	padding: 30px;
}

#footer-contact h3{
	text-align: center;
	color: #d7f8f7;
	margin-bottom: 20px;	
	font-size: 1.2em;	
}

#footer-contact li{
	margin-bottom: 5px;	
}

#footer-contact li span, .footer-contact-icon{
	vertical-align: middle;
	padding: 3px;
}

#footer-contact .footer-contact-icon{
	filter: invert(100%);
}

#dos-tres-icon{
	width: 50px;
	margin-top: 15px;
}

#doctoralia-icon{
	width: 175px;
	margin-left: 30px;	
	padding-bottom: 3px;
}

#footer-cobertura{
	padding: 30px;
	text-align: center;
}

#footer-cobertura img{
	width: 30px;
	filter: invert(100%);
	vertical-align: middle;
}

#footer-cobertura span{
	vertical-align: middle;
	margin-left: 5px;
	font-size: 1.2em;	
}

#footer-cobertura iframe{
	padding-top: 5px;
}

#myservice-add {
    padding: 30px;
    text-align: center;
    font-size: 1.2em;
}

#patologias-seccion-title{
	text-align: center;
    margin-bottom: 75px;
    font-size: 2em;
}

.patologia{	
	padding: 20px 40px 20px 40px;	
}

.patologia-card{	
	background: rgba(215, 217, 202, 0.5);
	border-radius: 30px;	
	height: 181px;
}


.patologia-card a:hover{
	color: #FFD733;
	text-decoration: none;
}

.patologia .patologia-card h2{
	position: relative;
	top: 36px;
	left: 170px;
	font-size: 1.25em;
	font-weight: bold;	
}


.patologia .patologia-card img{
	position: relative;
	top: 6px;
	left: 25px;
}

.patologia .patologia-card p{
	position: relative;
	top: -78px;
	left: 170px;
	width: 296px;
}

#hideSideNavButton{
	background: rgba(0, 0, 0, 0);
	border: 0;
}

#HideSideNavIcon{
	width: 50px;
	filter: invert(100%);
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 41px;
}

#SideBarList{		
	z-index: 1;
}

.SideBarListItem{
	font-size: 1em;
	margin-bottom : 30px;

}

.SideBarListItem a{
	padding: 0px 8px 0px 8px;
	color: #d7d9ce;
	font-weight: bold;
	margin-left: 9px;	
}

.SideBarListItem a:hover{
	color: #ac912f;
	text-decoration: none;
}

#WSPButton{
	margin-top: 180px;
	margin-left: 85px;
}

#SideBarWSP{
	filter: invert(100%);
	width: 84px;
	
}

#SideBarWSPText
{
	font-weight: bold;
		
}

#SideBarLogo{
	opacity: 0.2;
	filter: grayscale(100%);
	width: 400px;
	position: absolute;	
	z-index: -1;
}

#SideNavButton{
	background: rgba(0, 0, 0, 0);
	border: 0;
	width: 50px;
	height: 50px;	
	display: none;
	float: right;
	position: relative;
	top: 30px;
	right:40px;
	z-index: 1;
}

#boton-hamburguesa{
	width: 50px;
	filter: invert(100%);
	transition: all 0.3s;
}

#sidebar{
		width: 0px;
    max-width: 250px;
    min-height: 100vh;
    height: 100vh;    
    background: rgba(1, 1, 1,0.8);
    color: #fff;
    position: fixed;
    right: -250px;
    z-index: 2;
    transition: all 0.5s;
    display: none;
}


body{
	overflow-x: hidden;
	width: 100%;
	background: #77aeb1;
}

header{
	background: #5c9398;
}

ul{
	list-style-type: none;
}

a:hover{
	color: #FFD733;
	text-decoration: none;
}

a:active{
	color: #FFD733;
	text-decoration: none;
}

a{
	color: #5c9398;
}

#header-atencion{
	display: block;
	margin-top: 69px;
	margin-left: 750px;
	vertical-align: middle;
}

#atencion-text{
	font-weight: bold;
}

#atencion-icon{
	filter: invert(100%);
	margin-right: 5px;
	width: 25px;
	vertical-align: middle;
}

#social-nav{
	
	margin-top: 15px;
	margin-left: 636px;	
}

#social-nav .nav-link{
	font-weight: normal;
}

#social-nav .social-nav-icon{
	filter: invert(100%);
	width: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

.vl{
	border-left: 1px solid #d7d9ce;
	height:12px;
	opacity:0.5;
}

.navbar-nav{
	margin-top: 20px;	
}

.nav-link{
	padding: 0px 8px 0px 8px;
	color: #d7f8f7;
	font-size: 0.8em;
	margin-right: 5px;
	font-weight: bold;
}

.header-nav{
	border: 0px;
}

#site-logo{
	float: left;	
}

#site-name{
	float: left;
	color: #d7f8f7;
	margin-left: 20px;
	margin-top: 27px;
	font-size: 1.5em;
}

#site-location{
	float: left;
	font-size:0.9em;
	color: #d7f8f7;
	margin-left: 34px;	
}

#publicity{
	height: 0px;
	text-align: center;	
	text-transform: uppercase;
	font-size: 2.5em;	
	font-family: 'Archivo Black', sans-serif;
	margin-bottom: 106px; 
}


#bio{
	position: relative;
	height: 600px;
}

#bio h1{
	text-align: center;
	margin-bottom: 30px;
	font-size: 2em;	
}

#bio-picture{
	float: left;
	width: 32%;	
	margin-top: -14px;	
	position: absolute;
	top: -34px;
	left: 2px;
}

#bio-text{
	margin-left: 330px;
	padding-top: 30px;
	float: left;
	width: 68%;
	text-align: justify;
}

#bio-list{
	margin-top: 20px;
	padding-left: 376px;
	float: left;
}

.bio-list-n{
	margin-top: 10px;
}

.bio-icon{
	width: 25px;
	filter: invert(100%);
	vertical-align: middle;	
}

.bio-list-p{
	vertical-align: middle;
	margin-left: 10px;
}

#bio-list-2{
	margin-left: 15px;
}

#bio-list-3{
	margin-left: 30px;
}

#bio-list-4{
	margin-left: 45px;
}

#bio-list-5{
	margin-left: 60px;
}

#bio-list-6{
	margin-left: 75px;
}

#bio-list-7{
	margin-left: 90px;
}



#service-description-container{
	width: 100%;
	background: rgba(215, 217, 202, 0.5);	
}

#service-description{
	clear: both;
}

#service-header{
	color: #11787f;
	    text-align: center;
    margin-bottom: 75px;
    font-size: 2em;
}

#service-text{
	width: 55%;	
}

#service-text li{
	color: #000000;	
	float: left;
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 10px;
	font-size: 1em;	
}

#service-media{
	width: 39%;
	display: inline-block;
	padding: 0px 0px 20px 20px;
	border-radius: 30px;	
}

section{
	margin-top: 75px;
	height: 600px;
}

p, span{
	color: #d7f8f7;
}

h1{
	color:#e0ffff;
}

@media (min-width: 1200px) {
  header{
  	height: 170px;
  }
  .wrapper {
    display: none;
    
}
  #site-logo{
	width: 170px;
	float: left;
	margin-top: -16px;		
  }	

  .navbar-nav{	
	margin-left: 22px;
}
}
	
@media (min-width: 992px) and (max-width: 1199px) {
	header{
  		height: 150px;
    }
    .wrapper {
    display: none;
    
}
	#site-logo{
		width: 140px;
		float: left;
		margin-top: -11px;			
    }
	#site-name{
		margin-left: 0px;
		margin-top: 31px;
		font-size: 1.1em;
    }

	#site-location{
		margin-left: 25px;
		font-size:0.65em;	
	}

	#bio p{
	margin-left: 255px ;
	padding-top: 30px;
	float: left;
	width: 70%;
	text-align: justify;
	}

	#bio-picture{	
	width: 33%;	
	top:63px;
	left: 0px;	
}

#bio-text{
	margin-left: 200px;
}

#header-atencion{	
	margin-left: 557px;
	}


#social-nav{	
	margin-left: 456px;
	margin-top: -6px;
}

#navbar-nav{
	margin-bottom: 20px;

}

.patologia .patologia-card h2{
	font-size: 1em;
}

.patologia .patologia-card p{
	width: 220px;
}
	
}


@media (min-width: 768px) and (max-width: 991px) {
	header{
  	height: 100px;
  }

  #service-description {
    height: 500px;
    margin-top: 35px;
}

#service-header {    
    margin-bottom: 35px;    
}

  
  #site-logo{
	width: 90px;
	float: left;	
	margin-top: -11px;	
	}

	#site-name{
		margin-left: 17px;
		margin-top: 12px;
		font-size: 1em;
    }

	#site-location{
		margin-left: 28px;
		font-size:0.55em;	
	}

	#bio-picture{	
	content: url("../images/rocio.jpg");
	width: 40%;	
	display:block;
	margin:auto;
	float: none;	
	position: static;
}

	#bio-name{
		margin-top: 121px;
		padding-inline: 40px;
	}

	#bio-text{
		margin: 0;
		width: 100%;
	}

	#bio-list{
		padding-left: 173px;
	}

	#publicity{
		margin-top: 50px;
	}

	#bio{
		height: 850px;
	}

	.nav-link{	
	font-size: 0.52em;
}

#social-nav{	
	margin-left: 368px;
	margin-top: -7px;
}

.navbar-nav {
    margin-top: 11px;
}
#navbar-nav{
	margin-bottom: 20px;
}

#atencion-icon,#social-nav .social-nav-icon{
	width: 15px;
}

#header-atencion{
	margin-left: 428px;
	margin-top: 50px;
}

#atencion-text{
	font-size: 0.7em;
}

.patologia{
	padding-left: 130px;
	padding-right: 130px;
}

section {
    margin-top: 60px;   
}

#patologias-seccion-title {   
    margin-bottom: 15px;    
}

.patologia-card {
    height: 121px;
}

.patologia .patologia-card h2 {
    top: 15px;
    left: 170px;    
}

.patologia .patologia-card p {
    top: -85px;        
}

.patologia .patologia-card img {
    top: -15px;
    left: 30px;
    width: 100px;   
}

}

@media (min-width:576px) and (max-width: 767px) {
	header{
  	height: 130px;
  }


  #site-logo{
	width: 129px;
	float: left;	
	margin-top: -15px;	
	}

	#site-name{
		margin-left: 19px;
		margin-top: 12px;
		font-size: 1.2em;
    }

	#site-location{
		margin-left: 30px;
		font-size:0.7em;	
	}

	#bio-picture{	
	width: 40%;	
	display:block;
	margin:auto;
	float: none;
	content: url("../images/rocio.jpg");
	position: static;	
}


	#bio-name{
		margin-top: 121px;
		padding-inline: 40px;
	}

	#bio-text{
		margin: 0;
		width: 100%;
	}

	#bio-list{
		padding-left: 110px;
	}

	#publicity{
		margin-top: 30px;
	}

	#bio{
		height: 850px;
	}

	#sidebar{
	    display: inline-block;
}

	#SideNavButton{	
	display: inline-block;
}

#service-description{
	height: 900px;
}
	
	#service-text{
		width: 100%;
		float: none;
	}

	#service-media{
		width: 100%;
		margin: auto;
		margin-top: -32px;
		padding: 40px 40px 40px 40px;
		border-radius: 50px;
		max-height: 450px;		
	}

	.patologia{
	padding-left: 50px;
	padding-right: 50px;
}

#patologias-seccion{
	height: 1170px;
}

section {
    margin-top: 60px;   
}

#patologias-seccion-title {   
    margin-bottom: 15px;    
}

.patologia-card {
    height: 121px;
}

.patologia .patologia-card h2 {
    top: 15px;
    left: 170px;    
}

.patologia .patologia-card p {
    top: -85px;        
}

.patologia .patologia-card img {
    top: -15px;
    left: 30px;
    width: 100px;   
}

#footer-contact ul{
	padding-inline: 25%;
}

#other-contacts{
	padding-inline: 25%;
}

#doctoralia-icon {    
    margin-left: 12px;    
}
}

@media (max-width: 575px){
	header{
  	height: 130px;
  }

  section {
  	margin-top:30px;
  }

  #service-header{
  	margin-bottom: 23px;
  }

  #service-text li{
  	margin-bottom: 6px;
  	font-size: 0.8em;
  }

  #service-description{
  	height: 550px;
  }
  #site-logo{
	width: 100px;
	float: left;	
	margin-top: -2px;
	margin-left: -29px;	
	}

	#site-name{
		margin-left: 4px;
		margin-top: 28px;
		font-size: 0.8em;
    }

	#site-location{
		margin-left: 13px;
		font-size:0.6em;	
	}

	#site-location{
		margin-left: 30px;
		font-size:0.7em;	
	}

	#bio-picture{	
	width: 50%;	
	display:block;
	margin:auto;
	float: none;	
	content: url("../images/rocio.jpg");
	position: static;
}

	#bio h1{
		margin-top: 0px;
		padding-inline: 40px;
		text-align: center;
		font-size: 1.5em;
	}

	#bio-text{
		margin: 0;
		width: 100%;
	}

	#publicity{
		margin-top: 30px;
	}

	#publicity h1{
		font-size: 0.7em;
	}

	#bio{
		height: 800px;		
	}

	#bio-list{
		padding-left: 27px;
		margin-bottom: 30px;
	}
	
#sidebar{
	    display: inline-block;
}

	#SideNavButton{	
	display: inline-block;
}

#SideBarWSP{
	top:140px;
}

#SideBarWSPText{
	top:170px;
	left:-4px;
}


#service-text{
		width: 100%;
		float: none;
	}

	#service-media{
		width: 100%;
		margin: auto;
		margin-top: -32px;
		padding: 40px 40px 40px 40px;
		border-radius: 50px;		
	}

	.patologia .patologia-card img{
		width: 83px;
		top:1px;
		left:14px;
	}

	.patologia .patologia-card h2{
		left:106px;
		font-size: 0.9em;
		top:16px;
	}

	.patologia .patologia-card p{
		top: -65px;
    left: 108px;
    width: 200px;
    font-size: 0.9em;
	}

	#patologias-seccion{
	height: 1100px;
}

#patologias-seccion-title{
	margin-bottom: 10px;
}

.patologia{
	padding: 20px 40px 0px 40px;
}

.patologia-card{
	height: 120px;
}

#footer-contact ul{
	padding-inline: 18%;
}

#other-contacts{
	padding-inline: 18%;
}

#doctoralia-icon {    
    margin-left: 15px;    
}
}
